  
  <ion-content class=" login_wp">
    <form>
      <div class="list">
      <div class="Logo_lgn">
      <img src="img/login_logo.png">
      </div>
      <div class="clearfix"></div>
        <div class=" cust_lbl">
          <img src="img/welcome_login.png">
        </div>
        
          <p>Use your lunch breaks to network with new, nearby professionals every day!</p>
        
        <p>
          <span ng-click="doLogin()" data-tap-disabled="true"><img src="img/linked_in.png"></span>
        </p>
      </div>
    </form>
  </ion-content>
