<ion-header-bar  class="bar-positive cus_header">
  <div class="buttons">
   <button class="button button-icon button-clear ion-navicon" ng-click="doSomething()" menu-toggle="left" data-ng-hide="initial_tutorial"></button> 
  </div>
  <h1 class="title text-center">TUTORIAL</h1>
  <div class="buttons">
  </div>
</ion-header-bar>
	<ion-content scroll="false" class="cust_innr">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
    
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/1.png" class="sliderimg">
        <div class="tutorialtxt">
        Welcome to  <span>Lunch Matcher!</span> This business networking app will help you meet new professionals in your area for lunch every day. <a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/2.png" class="sliderimg">
        <div class="tutorialtxt">
       LunchMatcher uses the official LinkedIn API for login and access to the app to ensure the accuracy of the information provided by each user.
Simply log in with your LinkedIn email and password.
For the security of our users, the login information is only visible by LinkedIn.
LunchMatcher will never gain access to your password.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
        <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/3.png" class="sliderimg">
        <div class="tutorialtxt">
       After you log in, you need to setup your Preferences. First of all, you will need to enter your mobile number. Your mobile is only shared with another user if you make a successful match together. The mobiles are useful in case you need to contact the other person (to adjust meeting time or to find each other).<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/4.png" class="sliderimg">
        <div class="tutorialtxt">
       Next you can set preferences to enhance your LunchMatcher experience. With this button you can decide if you would like to match again with a previous match. Turning this on means that you DO NOT want to match with the someone that you have previously met.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      
       <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/5.png" class="sliderimg">
        <div class="tutorialtxt">
       LunchMatcher can remind you every day to set your availability for lunch.
Turn the switch on, and set the time that you want to be reminded.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/6.png" class="sliderimg">
        <div class="tutorialtxt">
      There is also a company exclusion for a better experience. Search and add companies that you would NOT LIKE to match with their employees. This is beneficial if you prefer not to meet with people from your current or past companies.
More premium features will be added in future versions of the app.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
       <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/7.png" class="sliderimg">
        <div class="tutorialtxt">
      Now you are ready to set your availability and select your time and locations preferences.
To set your availability for the next lunch period, turn on this switch.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/8.png" class="sliderimg">
        <div class="tutorialtxt">
      Now set up the time that you would like to have lunch.
Lunch slots are always for one hour and can be setup any time between 11:30am and 2:30pm.
Choosing a wider timeslot means that you may have more matching possibilities.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/9.png" class="sliderimg">
        <div class="tutorialtxt">
      Now simply choose the area that you want to have lunch.
The red filled in circle indicates the selected area and the restaurants that are in that area will appear in the next page.
You can choose your area in 3 ways.<br />
1)Type in the area in the search field
<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/10.png" class="sliderimg">
        <div class="tutorialtxt">
      Now simply choose the area that you want to have lunch.
The red filled in circle indicates the selected area and the restaurants that are in that area will appear in the next page.
You can choose your area in 3 ways.<br />
1)Move the red pointer to desired area in the map
<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
       <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/11.png" class="sliderimg">
        <div class="tutorialtxt">
      Now simply choose the area that you want to have lunch.
The red filled in circle indicates the selected area and the restaurants that are in that area will appear in the next page.
You can choose your area in 3 ways.<br />

1)Click the locator icon to select your current location by GPS
<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/12.png" class="sliderimg">
        <div class="tutorialtxt">
      You can also increase the search area to include more restaurants in your search area.

The app will find and store your current location, but you can change it on any day using the search box.

<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/13.png" class="sliderimg">
        <div class="tutorialtxt">
     Now you are ready to select the restaurants in your search area that you would like to have lunch at with your LunchMatch.
Simply click this icon to see the restaurant list.

<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
       
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/14.png" class="sliderimg">
        <div class="tutorialtxt">
    The app will store your previous day’s settings and if would like to keep the same time, area, and favorite restaurants, you can simply set your availability and click the check mark.
<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/15.png" class="sliderimg">
        <div class="tutorialtxt">
    On this screen you can select venues (cafes/restaurants) from the list by either clicking on them once (to choose for the day only), or add them as a favorite (to keep them chosen every day). Matches will be made based on time and venue commonality with other users.
<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
       <div class="box pink text-center">
        <img src="img/screens/15.png" class="sliderimg">
        <div class="tutorialtxt">
    On this screen you can select venues (cafes/restaurants) from the list by either clicking on them once (to choose for the day only), or add them as a favorite (to keep them chosen every day). Matches will be made based on time and venue commonality with other users.
<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
        <div class="box pink text-center"><img src="img/slider4.png" class="sliderimg">
        <div class="tutorialtxt">
        If matches are found, you will start receiving them every 15 minutes. You will see the other person’s photo, name, job title and company name as per LinkedIn, and you’ll need to decide whether to accept the match or not within the time limit. Keep in mind that rejecting or missing a match costs points!.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
        <div class="box pink text-center"><img src="img/slider5.png" class="sliderimg">
        <div class="tutorialtxt">
       After both parties accept, you’ll get a confirmation screen showing the exact venue and time slot for your lunch meeting, as well as address and contact info. Simply proceed to attend the lunch, and afterwards you’ll get a chance to rate your experience with both the person you met and the venue.<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
        <div class="box pink text-center"><img src="img/slider6.png" class="sliderimg">
        <div class="tutorialtxt">
        This app is gamified with a fun points system, and you can check your balance and history at any time on this screen. You can also top off your points as needed to keep having more matches. Sharing on social media earns you free points each time so be sure to do it!<a href="http://www.lunchmatcher.com/cms/tutorials" class="tutorial-lnk">read more&raquo;</a>
        </div>
        </div>
      </ion-slide>
      
      <ion-slide>
  
      <div class="list">
      <div class="Logo_lgn">
      <img src="img/login_logo.png">
      </div>
      <div class="clearfix"></div>
        <div class="cust_lbl" style="color: #fff;font-size: 20px;">
         Tutorial completed
        </div>
       
      </div>
 
      </ion-slide>
      
    </ion-slide-box>
	</ion-content>
    
    

    
  


